<div #myModal class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span (click)="closeModal()" class="close">&times;</span>
      <h2>Пояснение</h2>
    </div>
    <div class="modal-body">
      <p>
        Если выбрать год, который по диапазону больше, чем 3 года, а затем
        выбрать месяца, то месяца выберутся в зависимости от левого бегунка на
        три года, два или один - смотря какой размер экрана.
      </p>
      <p>
        Сделано это для того, чтобы были всегда видны месяца на любом экране.
      </p>
      <p>
        Также в зависимости от сужения или расширения экрана могут исчезать
        некоторые года или месяца.
      </p>
    </div>
  </div>
</div>
